{% extends "layout.html" %}

<html lang="en">
{% block content %}
<div class="content-section">
    <form method="post" action="" title="Theater Overview">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Theater Overview
            </legend>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ render_field(form.movie_name_include) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6"> {{ render_field(form.min_duration) }}</div>
                <div class="form-group col-md-6"> {{ render_field(form.max_duration) }} </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6"> {{ render_field(form.min_release_date) }} </div>
                <div class="form-group col-md-6"> {{ render_field(form.max_release_date) }} </div>
            </div>

                <div class="row">
                    <div class="form-group col-md-6"> {{ render_field(form.min_play_date) }} </div>
                    <div class="form-group col-md-6"> {{ render_field(form.max_play_date) }} </div>
                </div>
            <center>
                <div class="form-group">
                    {{ form.checkbox (class="form-group")}} Only Include Not Played Movies<br>
                    {{ form.filter(class="btn btn-outline-info") }}
                </div>
            </center>
        </fieldset>
    </form>

    {% if data_details: %}
    <table id="Theater overview" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Movie Name</th>
            <th>Duration</th>
            <th>Release Date</th>
            <th>Play Date</th>
        </tr>
        </thead>
        {% for data in data_details %}
        <tr>
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<form action="/login" method="get">
    <button class="btn btn-outline-info">Back</button>
</form>
{% endblock content %}
