{% extends "layout.html" %}
<html lang="en">
{% block content %}
<!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" -->
  <!-- integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
<!-- <script src="jquery.tablesort.min.js"></script> -->
<script src="{{ url_for('static', filename='jquery.tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.tablesort.min.js') }}"></script>

<script type="text/javascript">

  $(function () {    
    $.noConflict();
    $('table').tablesort().data('tablesort');
  });
</script>

<div class="content-section">
  <form method="post" action="" title="Manage Comp">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Manage Company
      </legend>

      <div class="form-group">
        {{ render_field(form.companyName)}}
      </div>
      <div class="row">
        <div class="form-group col-md-6">{{ render_field(form.cityNumberFrom) }}</div>
        <div class="form-group col-md-6">{{ render_field(form.cityNumberTo) }}</div>
      </div>
    <div class="row">
        <div class="form-group col-md-6">{{ render_field(form.TheatersNumberFrom) }}</div>
        <div class="form-group col-md-6">{{ render_field(form.TheatersNumberTo) }}</div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">{{ render_field(form.EmployeeNumberFrom) }}</div>
        <div class="form-group col-md-6">{{ render_field(form.EmployeeNumberTo) }}</div>
    </div>
    <div class="form-group">
        {{ render_field(form.filter) }}
    </div>
    </fieldset>
</form>
    <div class="row">
    <form action="/admin_create_theater" method="get">
        <button class="btn btn-outline-info">Create Theater</button>
    </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </div>
    
  <div class="content-section">
    <form action="/company_detail" method="post">
      <button class="btn btn-outline-info">Details</button>

    <table id="visit history" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th># City Covered</th>
          <th># Theaters</th>
          <th># Employee</th>
        </tr>
      </thead>
      <tbody>

      <!-- console.log(resultLength) -->
      
      {% if data_details and resultLength > 0: %}
          {% for i in range(resultLength) %}     
          <tr>
              <td><input type="radio" value="{{ data_details[i][0]}}" name='company_name'>   {{ data_details[i][0] }}</td>
              <td>{{data_details[i][1]}}</td>
              <td>{{data_details[i][2]}}</td>
              <td>{{data_details[i][3]}}</td>
          </tr>
          {% endfor %}
      {% endif %}
      </tbody>
    </table>
    </form>

  </div>
  <form action="/login" method="get">
    <button class="btn btn-outline-info">Back</button>
  </form>
</div>

{% endblock content %}