{% extends "layout.html" %}

<html lang="en">

{% block content %}
<div class="content-section">
    <form method="post" action="" title="Visit History">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Visit History
            </legend>
            <div class="form-group">
                {{ render_field(form.company_name) }}
            </div>
            <div class="form-group">

                {{ render_field(form.start_date)}}
                {{ render_field(form.end_date) }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.filter(class="btn btn-outline-info") }}

        </div>
    </form>

</div>
{% if data_details: %}
<div class="content-section">
    <table id="visit history" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Theater</th>
            <th>Address</th>
            <th>Company</th>
            <th>Visit Date</th>
        </tr>
        </thead>
    {% for data in data_details %}
    <tr>
        <td>{{data[0]}}</td>
        <td>{{data[1]+", "+ data[2]+", "+data[3]+" " + data[4]}}</td>
        <td>{{data[5]}}</td>
        <td>{{data[6]}}</td>
    </tr>
    {% endfor %}
</table>
</div>
    {% endif %}
<form action="/login" method="get">
    <button class="btn btn-outline-info">Back</button>
</form>
{% endblock content %}
